### PlatformIO ###
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
ttn_credentials.h

### VisualStudioCode ###
.vscode/*
*.bak

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
